body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h2 {
	cursor: pointer;
}

.recipe-container {
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80vw;
	margin: 0 auto;
	border-radius: 10px;
}

.cook-button {
	height: 3rem;
	width: 7rem;
	margin-bottom: 1rem;
	background-color: rgb(144, 42, 42);
	color: white;
	font-size: 1.5rem;
	border: 0;
	border-radius: 10px;
}

.cook-button:hover {
	background-color: black;
	transition: 0.3s;
	cursor: pointer;
}
