@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300;400;500;600;700&family=IM+Fell+DW+Pica+SC&display=swap");

body {
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
	font-family: "IM Fell DW Pica SC", serif;
	background-color: #fff7ed;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.all-container {
	text-align: center;
	margin-top: 2rem;
}

.home-info-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
	position: relative;
}

.home-info-container > img {
	height: 60px;
}

.home-info-header {
	text-align: center;
}

.main-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5vw;
	height: 200px;
	position: relative;
	/* top: 5rem; */
	/* left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%); */
}

.element-container {
	text-align: center;
}

.home-cateogory-link-container:hover {
	transform: scale(1.2);
	transition: 0.6s;
	color: #d93838;
}

a {
	text-decoration: none;
	color: #000000;
}

.search-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 8rem;
}

.category-card-body-paragraph {
	width: 15rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: auto;
}

.custom-red-button {
	font-size: large;
	background: #d93838;
	border-radius: 10px;
	color: white;
	width: 10rem;
	height: 3rem;
	margin: 1rem;
	border: none;
	cursor: pointer;
	font-family: "IM Fell DW Pica SC", serif;
	max-width: 6rem;
}

.custom-red-button:hover {
	background-color: black;
	color: #fff7ed;
	transition: 0.3s;
}

.category-cards-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 10rem;
}

input {
	font-size: 1.5rem;
	font-family: "IM Fell DW Pica SC", serif;
	border: 2px solid #d93838;
	border-radius: 10px;
	text-align: center;
}

.category-search-button {
	font-size: larger;
	background: #000000;
	border-radius: 10px;
	color: white;
	width: 10rem;
	height: 2rem;
	margin: 1rem;
	border: none;
	cursor: pointer;
	font-family: "IM Fell DW Pica SC", serif;
}

.category-search-button:hover {
	background: #d93838;
	transition: 0.3s;
}

.category-search-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.category-search-container > label {
	font-size: larger;
}

.details-wrapper {
	text-align: center;
}

.details-wrapper > img {
	width: 50%;
	max-width: 50rem;
	min-width: 20rem;
	height: auto;
	border-radius: 10px;
}

.details-indicatii-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 10rem;
}

.details-macro-container {
	background-color: #ffffff;
	padding: 1.5rem;
	border-radius: 10px;
}

.details-macro-name-span {
	font-size: 1.5rem;
}

.details-macro-value-span {
	color: red;
	font-size: 1.5rem;
	font-weight: bolder;
}

.details-ingredients-container {
	font-size: 1.2rem;
}

.details-ingredient-list {
	border-bottom: 2px solid #d93838;
}

.details-return-heading {
	background-color: #000000;
	color: #d93838;
	width: fit-content;
	bottom: 2rem;
	right: 0;
	padding: 1rem;
	border-radius: 10px;
	position: fixed;
	opacity: 0.8;
	cursor: pointer;
}

.details-return-heading:hover {
	background-color: #d93838;
	color: #000000;
	transition: 0.3s;
}
